{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>나와 어울리는 시집 찾기</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/re01.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar">
        <div class="logo">
            <a class="navbar-brand" href="{% url 'Test:main' %}"><img src="/static/img/logo1.png" width="180wv"
                                                                      height="140hv"></a>
        </div>
    </nav>
</header>
<main role="main" class="flex">
    <div class="container">
        <h4 style="font-family: 'Noto Serif KR', serif;">이제 <strong>{{ tester.name }}</strong>님께 시집을 추천해 줄 수 있어요!</h4>
        <br>
        <img src="/static/img/all.jpg" height="400vh" width="250vw">
        <br><br>
        <a href="{% url 'Test:re01' tester.id %}">
            <button class="go" style="font-family: 'Noto Serif KR', serif;">결과보러 가기</button>
        </a>
        <br>
        <br>
        <br>
    </div>
</main>
<nav class="navbar">
    <div class="logo2" style="padding-top: 0%; padding-left: 15px;">
        <a class="navbar-brand"><img src="/static/img/logo2.png" width="60wv" height="60hv"></a>
    </div>
</nav>
<footer class="footer py-5">
    <div class="container">
        <a href="https://www.instagram.com/bae._.si_si_/" target="_blank"><span class="text-muted">ⓒ 2020. Baesisi All Rights Reserved.</span></a>
    </div>
</footer>

</body>
</html>